table {
    width: 100%;
    border-spacing: 0;
}

table thead tr {
    background-color: rgb(228, 228, 228);
}

table tbody tr {
    border-bottom: 1px solid #ccc;
}

table td,
th {
    text-align: left;
    font-size: 14px;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper {
    width: 100%;
    overflow-x: auto;
}

.container {
    padding: 30px 40px;

    h1 {
        text-align: center;
        margin: 40px 80px;
    }
}

.btn-edit{
    margin-left: 12px;
    color: blue
}

.btn-view{
    color: green;
}

@media screen and (min-width: 1024px) {
    .table-users tr {
        display: grid;
        grid-template-columns: 30% 30% 20% 20%;
    }
}

@media screen and (max-width: 1023.98px) {
    .table-users {
        border-spacing: 0;
    }

    .table-users th:first-child,
    .table-users td:first-child {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 1;
        min-width: 150px;
        border-right: 1px solid #ccc;
    }

    .table-users th:first-child {
        background-color: rgb(228, 228, 228);
    }

    .table-users td:first-child {
        background: #fff;
    }

    .job-title {
        max-width: 100px;
    }
}

.search-box{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;

    .search-icon{
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    input{
        border: 1px solid #ccc;
        width: 350px;
        height: 35px;
        padding: 8px 16px;
        border-radius: 4px;
    }
}
