.container {
    width: calc(100% - 250px);
    margin-left: 250px;
}

// Mobile
@media (max-width: 739px) {
    .container {
        width: 100%;
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
}
